body
{
    margin: 0%;
    width:100%;
    background-color: #006666;
}
form
{
    background-color:#ffffff;
    width:40%;
    height:450px;
    margin-left:30%;
    margin-top:50px;
}
#p1
{
    padding-top: 2px;
    padding-left: 20%;
    font-size: 35px;
}
#a1
{
    text-decoration: none;
    color: gray;
}
#l1
{
    padding-left: 33%;   
}
#txtEmail
{
    width:50%;
    height:35px;
    margin-left: 25%;
    padding-left:2%;
}
#i2
{
    width:50%;
    height:35px;
    margin-left: 25%;
    padding-left:2%;
}
button
{
    width:50%;
    height:35px;
    margin-left: 25%;
}
#p2
{
    margin-left: 25%;
}
#p2 a
{
    color:green;
}