body
{
    margin: 0%;
    width:100%;
    height:4550px;
}
#header
{
    width:100%;
    height:75px;
    position: fixed;
    /*float:left;*/
}
#ha1
{
    padding-left: 2%;
    text-decoration: none;
    color: white;
    float:left;
}
#header input
{
    
    background-color: rgba(243, 243, 243, 0.16);
    /*background-color:rgb(247, 236, 236);*/
    padding-left:2%;
    width:45%;
    height:50px;
    margin-left: 2%;
    font-size: 17px;
    margin-top: 17px;
    border-radius:10px;
    /*border-bottom-right-radius: 25px;*/
    -webkit-text-fill-color: white;
    float:left;
}
#ha2,#ha3,#ha4,#ha5
{
    padding-left: 1.4%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    float:left;
    font-family: "HelveticaNeueLTPro-Th",Helvetica,sans-serif;
}
#ha6
{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    float:left;
    font-family: "HelveticaNeueLTPro-Th",Helvetica,sans-serif;
}
/*#himg1,#himg2,#himg3
{
    padding-left: 1.1%;
    color: white;
    margin-top: 30px;
    float:left;
}*/
.fa-facebook-f
{
    float:left;
    padding-left: 5.5%;
    margin-top: 32px;
    color:rgb(180, 177, 177);
}
.fa-twitter
{
    color:rgb(180, 177, 177);
    float:left;
    padding-left: 1.5%;
    margin-top: 32px;
}
.fa-instagram
{
    color:rgb(180, 177, 177);
    float:left;
    padding-left: 1.5%;
    margin-top: 32px;
}
#scroll1
{
    background-image: url("img\\home-background-1.jpg");
    min-height: 1390px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#a1 a:hover
{
    color:rgba(255, 255, 255, 0.5);
}
content
{
    height:1390px;
    width:100%;
    position: absolute;
    padding-top: 75px;
}
#src1
{
    height:350px;
    width:100%;
    padding-top: 50px;
}
#src1 h1
{
    text-align: center;  
    color: white;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
    font-size: 50px; 
    padding-top: 60px;
}
#src1 h2
{
    text-align: center;  
    color: white;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
    font-size: 20px;    
}
#sa1
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#src2
{
    height:640px;
    width:85%;
}
#top
{
    width:100%;
    height: 320px;
    padding-top: 85px;
    /*margin-left:7%;*/
    margin-left:7%;
}
/*#ti1:hover
{
    border:1px solid rgb(18, 100, 18);
}
#ti2:hover
{
    border:1px solid rgb(18, 100, 18);
}
#ti3:hover
{
    border:1px solid rgb(18, 100, 18);
}
#ti4:hover
{
    border:1px solid rgb(18, 100, 18);
}
#ti5:hover
{
    border:1px solid rgb(18, 100, 18);
}
#ti6:hover
{
    border:1px solid rgb(18, 100, 18);
}*/

#ti1
{
    background-image: url("img\\walla.jpg");
    float:left;
    width:16%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    opacity: .8;
}
#ti2
{
    background-image: url("img\\whoosh.jpg");
    float:left;
    width:16%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    opacity: .8;
}
#ti3
{
    background-image: url("img\\wind.jpg");
    float:left;
    width:16%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    opacity: .8;
}
#ti4
{
    background-image: url("img\\footsteps.jpg");
    float:left;
    width:16%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    opacity: .8;
}

#ti5
{
    background-image: url("img\\cartoon.jpg");
    float:left;
    width:16%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    opacity: .8;
}
#ti6
{
    background-image: url("img\\drones.jpg");
    float:left;
    width:15%;
    height: 320px;
    /*height: 80px;*/
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    opacity: .8;
}
#bottom
{
    width:100%;
    height: 320px;
    margin-left:7%;
}
/*#bi1:hover
{
    border:1px solid rgb(18, 100, 18);
}
#bi2:hover
{
    border:1px solid rgb(18, 100, 18);
}*/
#bi1
{
    background-image: url("img\\menus_and_interfaces.jpg");
    height: 320px;
    float:left;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    width:49%;
    border-radius: 10px 10px 10px 10px;
    margin-top: -200px;
    opacity: .8;
}
#bi2
{
    background-image: url("img\\ambience.jpg");
    height: 320px;
    float:left;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 3.4px;
    width:49%;
    border-radius: 10px 10px 10px 10px;
    margin-top: -200px;
    margin-left:2%;
    opacity: .8;
}
#src3
{
    width: 100%;
    height: 400px;
    margin-top: -10px;
}
#src3 p
{
    color: white;
    letter-spacing: 3.4px;
    text-align: center;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
}
#src3 a
{
    text-decoration: none;
    padding-left:1%;
    font-size:27px;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
}
/*#f1:hover
{
    border:1px solid rgb(18, 100, 18) ;
}*/
#f1
{
    background-image: url("img\\yeti_monster.jpg");
    background-repeat: no-repeat;
    height:300px;
    width:22.5%;
    /*height:86px;
    width:17%;*/
    letter-spacing: 3.4px;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 4%;
    margin-left:2%;
    border-radius: 10px 10px 10px 10px;
    float: left;
    opacity: .8;
}
#f2
{
    background-image: url("img\\quad_copter.jpg");
    background-repeat: no-repeat;
    width:22.5%;
    height:300px;
    letter-spacing: 3.4px;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 4%;
    margin-left: -3.5%;
    border-radius: 10px 10px 10px 10px;
    float: left;
    opacity: .8;
}
#f3
{
    background-image: url("img\\builder_game.jpg");
    background-repeat: no-repeat;
    width:22.4%;
    height:300px;
    letter-spacing: 3.4px;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 4%;
    margin-left: -3.5%;
    border-radius: 10px 10px 10px 10px;
    float: left;
    opacity: .8;
}
#f4
{
    background-image: url("img\\robot_voices.jpg");
    background-repeat: no-repeat;
    width:22.5%;
    height:300px;
    letter-spacing: 3.4px;
    font-size: 15px;
    padding-top: 50px;
    padding-left: 4%;
    margin-left: -3.5%;
    margin-top: -29px;
    border-radius: 10px 10px 10px 10px;
    float: left;
    opacity: .8;
}
/*#aa2:hover
{
    color:white;
}*/
#content1
{
    width:100%;
    height:350px;
}
#content1 span
{
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
    font-size: 30px;
}
#c1
{
    background-image: url("img\\black_swan.png");
    float:left;
    width:16%;
    height:300px;
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 3.4px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 40px;
    margin-left: 3%;
    padding-top: 60px;
}
#c2
{
        background-image: url("img\\baby_driver.png");
        float:left;
        width:16%;
        height:300px;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 3.4px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        margin-left: .1%;
        padding-top: 60px;
}
#c3
{
        background-image: url("img\\dallas_byers_club.png");
        float:left;
        width:16%;
        height:300px;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 3.4px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        margin-left: .1%;
        padding-top: 60px;
}
#c4
{
        background-image: url("img\\mother.png");
        float:left;
        width:16%;
        height:300px;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 3.4px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        margin-left: .1%;
        padding-top: 60px;
}
#c5
{
        background-image: url("img\\tron_legacy.png");
        float:left;
        width:16%;
        height:300px;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 3.4px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        margin-left: .1%;
        padding-top: 60px;
}
#c6
{
        background-image: url("img\\the_dark_knight.png");
        float:left;
        width:16%;
        height:300px;
        background-repeat: no-repeat;
        text-align: center;
        letter-spacing: 3.4px;
        border-radius: 10px 10px 10px 10px;
        margin-top: 40px;
        margin-left: .1%;
        padding-top: 60px;
}
#content2
{
    width: 100%;
    height: 500px;
}
#content2 span
{
    font-size: 30px;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
}
#c21
{
    width:13%;
    height:170px;
    margin-left: 5%;
    margin-top: 60px;
    background-color: #eff5f5;
    border-radius:130px;
    float:left;
}
#img21
{
    padding-left:8%;
    padding-top: 12px;
}
#c22
{
    width:13%;
    height:170px;
    margin-left: 12%;
    margin-top: 60px;
    background-color: #eff5f5;
    border-radius:130px;
    float:left;
}
#img22
{
    padding-left:8%;
    padding-top: 12px;
}
#c23
{
    width:13%;
    height:170px;
    margin-left: 12%;
    margin-top: 60px;
    background-color: #eff5f5;
    border-radius:130px;
    float:left;
}
#img23
{
    padding-left:8%;
    padding-top: 12px;
}
#c24
{
    width:13%;
    height:170px;
    margin-left: 12%;
    margin-top: 60px;
    background-color: #eff5f5;
    border-radius:130px;
    float:left;
}
#img24
{
    padding-left:8%;
    padding-top: 12px;
}
#content3
{
    width:100%;
    height:200px;
}
#c31
{
    width:20%;
    margin-left:4%;
    float:left;
}
#c32
{
    width:20%;
    margin-left:5%;
    float:left;
}
#c33
{
    width:20%;
    margin-left:5%;
    float:left;
}
#c34
{
    width:20%;
    margin-left:5%;
    float:left;
}
#c31,#c32,#c33,#c34 span
{
    color:gray;
}
#c31 h2
{
    color:black;
}
#c32 h2
{
    color:black;
}
#c33 h2
{
    color:black;
}
#content4
{
    width:100%;
    height: 200px;
}
#c41
{
    width:15%;
    margin-left:35%;
    float: left;
}
#c42
{
    width:15%;
    margin-left:8%;
    float: left;
}
#scroll2
{
    background-image: url("img\\home-clients-5.jpg");
    min-height: 1400px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content5
{
height:1400px;
width:100%;
position: absolute;
}
#left5
{
    background-color:black;
    float: left;
    width:29%;
    height: 820px;
    opacity: 1;
}
#right5
{
    float: left;
    width:70%;
    height: 820px;
    padding-left:1%;
    background-color:black;
    opacity:.6;
}
#r51
{
    height:100px;
    width: 100%;
    padding-top:70px;
}
#r52,#r53,#r54,#r55
{
    height:100px;
    width: 100%;
    padding-top:60px;
}
#bottom5
{
    width:100%;
    height:580px;
    margin-top: -40px;
    background-color: black;
}
#p5
{
    color:white;
    text-align: center;
    padding-top: 240px;
    font-family: "FuturaPTHeavy", Helvetica, sans-serif;
    font-size: 40px;
}
#ba5
{
    text-decoration:none;
    color:rgb(77, 168, 77);
    font-size:50px;
}
#ba5:hover
{
    color:rgb(49, 83, 49);
}
#footer
{
    width:100%;
    height:400px;
    background-color:black;
}
#foot
{
    width:100%;
    background-color:black;
    height:110px;
}
#ul1 li:hover
{
    color: grey;
}
#ul2 li:hover
{
    color: grey;
}

#ul3 li:hover
{
    color: grey;
}

