body
{
    margin: 0%;
    width:100%;
}
#left
{
    width:45%;
    height:100%;
}
#ha1
{
    padding-left: 20%;
    text-decoration: none;
    color:black;
    float:left;
}
#txtEmail,#i2
{
    width:40%;
    height:35px;
    margin-left: 10%;
    padding-left:2%;
}
button
{
    width:40%;
    height:35px;
    margin-left: 10%;
}